.container {
    width: 60%;
    margin: auto;
    margin-top: 50px;
}

@media (max-width:767px) {
    .container {
        width: 90%;
        /* margin: auto; */
    }
}

div {
    margin-bottom: 20px;
}

label {
    font-family: sans-serif;
    margin-bottom: 10px;
    color: #777777;
    display: block;
}

input {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 8px;
    width: 98%;
    transition: 0.3s;
    outline: none;
}

input:hover {
    background-color: #77777727;
}

input[type="submit"] {
    background-color: rgba(226, 156, 43, 0.623);
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    color: white;
    font-size: 18px;
    width: 100%;
    margin-bottom: 20px;
}

input[type="submit"]:hover {
    background-color: rgb(226, 156, 43);
}

h1 {
    font-size: 18px;
    font-family: sans-serif;
    color: #777777;
}